body {
	background-color: #CCCCFF;
}

h1, p {
	font-family: Sans-Serif;
}

h1 {
	font-size: 32pt;
	font-weight: bold;
	margin: 0px;
	text-align: center;
}

p {
	font-size: 14pt;
	font-weight: bold;
}

#viewport {
	width: 90%;
	height: 400px;
	display: block;
	margin: auto;
	outline: none;
	font-size: 12pt;
	font-family: monospace;
	font-weight: bold;
}

#controls { 
	display: inline-block; 
}

#controlscontainer { 
	text-align: center; 
}

fieldset {
	border: 5px solid black;
	display: inline-block;
}
